---
import Book from "./Book.astro";

const { books } = Astro.props;
---

<div
  style="
    border: 3px solid #D4D9E4;
    display: grid;
    gap: 10px;
    grid: auto-flow minmax(2em, max-content) / repeat(50, [line1 line2 line3] 200px);
  "
>
  {books.map((json_book) => (
    <Book json_book={json_book} />
  ))}
</div>
