---
import Book from "./Book.astro";

const { jsonBooks } = Astro.props;

const bookCount = jsonBooks.length;
const bookSizeMinMax={
    "page_px_ratio":20,
    "min_height":170,"max_height":200, 
    "min_width":50,"max_width":180, 
    };
function chunkArray(arr, size) {
  const result = [];
  for (let i = 0; i < arr.length; i += size) {
    result.push(arr.slice(i, i + size));
  }
  return result;
}
---

<script define:vars={{bookCount,bookSizeMinMax}}>
  const booksPerRow = Math.max(
    1,
    Math.floor((bookCount * bookSizeMinMax.max_width)/window.innerWidth)
  );
  console.log(booksPerRow)
  console.log(window.innerWidth)
  console.log(window.innerHeight)
</script>


<div id="shelf"
  style="
    
    border: 3px solid #D4D9E4;
    width: fit-content;
  "
>
  {chunkArray(jsonBooks,2).map((rowOfBooks,i) => (

  <div id=`${i}`
      class="shelf_row"
      style="
        border: 3px solid #E03F66;

    width: fit-content;
        display:flex;
        flex:col;
      "
    >

      {rowOfBooks.map((jsonBook) => (
        <Book jsonBook={jsonBook} bookSizeMinMax={bookSizeMinMax} />
      ))} 
    </div>
  ))} 
</div>

